div.card div.photo {
    overflow: hidden;
}
div.card div.photo img {
    width: 100%;
    border-top-left-radius:  5% ;
    border-top-right-radius: 5%;
}
div.card {
  margin: 20px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 5%;
  border-color: white;
  overflow: hidden;
  transition: .3s;
}
span.type {
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 8px 14px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 500;
  z-index: 1;
  border-color: transparent;
  background-color: #FDAE5C;
}

span.price {
    display: inline-block;
  background: #00D363;
  border-radius: 30px;
  padding: 7px 18px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  margin: 15px 0;
  border-color: transparent;
}
div.priceSpan {
    border-bottom: .1px solid #919191;
    margin-bottom: 10px
}
div.text p {
  font-size: 13px;
  font-weight: 400;
  color: #919191;
}
span.info {
  font-size: 15px;
  display : inline;
  margin-right: 20px;
  color: #919191;
}
button.remove {
  outline: none;
  background: red;
  border-radius: 5px;
  padding: 10px 18px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  border-color: transparent;
}