div.faq {
  margin: 150px;
}
div.text {
  margin: auto;
}
div.faq div.text details {
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid #E8E8E8;
  text-align: justify;
  transition: .5s;
}
details[open] > p {
  animation-name: showContent;
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
::-webkit-details-marker {
  display: none;
}
details summary {
  outline: none;
  color: gray;
}
details p {
  color: #919191;
  transition-delay: 5s;
}
summary {
  transition-delay: 5s;
}
div.faq img {
  border-radius: 10px;
  width: 100%;
}
