div.main-nav {
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,.2);
  display: flex;
  justify-content: center;
}
nav {
  margin: auto;
}
nav a {
  color: white;
}
nav a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #FDAE5C;
}
button.orange {
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(253, 174, 92) 0%, rgb(253, 142, 94) 100%);
  padding: 10px 26px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 30px;
}
div.logo {
  color: white;
}
.btns {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
}
div.like-property {
  position: absolute;
  margin-top: 7px;
}
p.icon {
  font-size: 20px;
  font-weight: 500px;
  color: white;
}
span.like-counter {
  font-size: 10px;
  color: white;
  position: absolute;
  top: -5px;
  left:-15px;
  padding: 1px 6px;
  background-color: #FDAE5C;
  border-radius: 30px;
}
.add {
  color: white;
}
.add:hover {
  color: inherit;
}
button.nav-btn {
  display: none;
}

@media (max-width: 991px){
  
  button.add-prop {
    display: none;
  }
  .navbar-nav {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  
  .navbar-nav.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .navbar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-nav li {
    border-bottom: 1px solid #dddddd;
  }
  
  .navbar-nav li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block !important;
  }

  button.nav-btn {
    background: transparent;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    vertical-align: middle;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.4s ease;*/
    outline: transparent;
    font-size: 40px;
  }
  
  /*button.nav-btn:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }*/
  
}